*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "General Sans";
}
html,body{
 width: 100%;
 height: 100%;
}
#main{
    width: 100%;
}
#hero{
    color:rgb(245, 242, 229);
    width: 100%;
    height: 100vh;
    background-color: black;
}
#nav{
    top: 0; /* This ensures the nav sticks to the top */
    background-color: black;
    position: sticky;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 35px 40px;
    color: rgb(244, 244, 244);
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}
#main_heading{
    padding-top: 100px;
}
#main_heading h1{
  margin-left: 20px;
  opacity: 0.6;
  padding-left: 30px;
  font-size: 11vw;
  font-family: "General Sans Medium";
  font-weight:850;
  line-height: 1;
}
#main_heading #Second_h1{
    margin-left: 176px; 
}
.blocktext{
    margin-top: -2vw;
    width: fit-content;
}
.blocktext h6{
    color: aliceblue;
    font-size: 1vw;
    text-align: right;
}
#chotiheading{
    margin-top: 155px;
    padding-right: 30px;
}
#chotiheading h6{
    color: aliceblue;
    font-size: 1.3vw;
    margin-top: .2vw;
    text-align: right;
}
#Hero_Footer{
    padding-left: 35px;
    font-family: "General Sans Medium";
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px ;
}
#Hero_Footer a{
    text-decoration: none;
    font-size: 1.2vw;
    color:white;
}
#Hero_Footer #iconset{
    display: flex;
    gap: 5px;
}
#Hero_Footer .circle{
display: flex;
text-align: center;
height: 20px;
width: 20px;
background-color: rgb(201, 198, 198);
border-radius: 50%;
}
#second{
    padding-top: 130px;
    height: 100vh;
    width: 100%;
    background-color: black;
    padding-left: 40px;
    padding-right: 150px;
}
.elem{
    position: relative;
    width: 100%;
    border-top: 1px solid gray;
}
.elem #HinduHead{
    font-family: "General Sans Medium";
    color: rgb(241, 240, 236);
    opacity: 0.6;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 4vw;
}
.elem #SikhHead{
    font-family: "General Sans Medium";
    color: rgb(241, 240, 236);
    opacity: 0.6;
    padding-left: 20px;
    padding-top: 25px; 
    padding-bottom: 25px;
    font-size: 4vw;
}
.elem #ChristianityHead{
    font-family: "General Sans Medium";
    color: rgb(241, 240, 236);
    opacity: 0.6;
    padding-left: 20px;
    padding-top: 25px; 
    padding-bottom: 25px;
    font-size: 4vw;
    border-bottom: 1px solid gray;
}
.elem img{
    z-index: 999;
    display: none;
    position: absolute;
    height: 120%;
    width: 15%;
}
#last_line{
    width: 100%;
}
#about{
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    background-color: black;
    padding-left: 40px;
    padding-right: 150px;
}
